.book {
    border: solid;
    border-color: #6f2232;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.book .head {
    display: flex;
    justify-content: space-between;
}

.event-btn {
    background-color: #c3073f;
    border-radius: 5px;
}

.book a {
    color: white;
    text-decoration: none;
}

.book a:hover,
.event-btn:hover {
    font-weight: bolder;
    color: #c3073f;
}

.event-btn:hover {
    color: white;
    font-weight: bolder;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0px 0px 30px 0px #c3073f;
    -moz-box-shadow: 0px 0px 30px 0px #c3073f;
    box-shadow: 0px 0px 30px 0px #c3073f;
}

.book h5 {
    text-align: start;
    font-size: medium;
}

.book section {
    display: flex;
    text-align: left;
    margin-top: 10px;
}

.book section img {
    border-radius: 10px;
}

.book section p {
    margin: 10px;
    margin-left: 20px;
}