.search-res {
    border: solid;
    border-color: #4e4e50;
    margin: 50px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.search-res h4,
.search-res p {
    text-align: start;
}
